.article-page{
    margin-left:10%;
    margin-right:10%;
    padding:30px 10% 30px 10%;
    background-color: rgb(25, 138, 57);
}

article.single-article{
    display:flex;
    flex-direction: column;
    margin-left:0;
    margin-right:0;
    
    outline: 5px solid black;
}
.single-article-header{
    display:flex;
    flex-direction: row;
    img{
        object-fit: contain;
        width:30%;
    }
}
.single-article-header-info{
    display:flex;
    flex-direction: column;
    h2,h3,h4{
        margin:5px;
        text-align: left;
        align-self:flex-start;
    }
}

.single-article-body-votes{
    p{
        margin-top:10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

@media (max-width:700px){
    .article-page{
        margin:30px 0;
        padding-top: 1px;
        padding-left:0;
        padding-right:0;
        width:auto;
        outline: 10px solid rgb(25, 138, 57);
        article{
            margin:0 0 10px 0;
            outline:0px;
            border: 5px solid black;
        }
        .single-article{
            margin-top:10px;
            h3, h4{
                margin-top:0;
                margin-bottom:0;
            }
        }
        .single-article-header{
            flex-direction: column;
            img{
                object-fit:cover;
                width:100%;
            }
        }
        .votes-container{
            justify-content: center;
        }
    }

}