h1{
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 2px 2px white;
    grid-column: second;
}
.user-area{
    color: white;
    margin-left:auto;
    margin-right: 10%;

}

.user-area img{
    padding-left:auto;
    padding-right:0;
}



.head-box{
    width:100%;
    display:inline-grid;
    grid-template-columns: [first] 40% [second] 20% [third] 40%;

}

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

.innerBorderBox{
    border: 20px solid blueviolet;
    background-color: white;
    margin: 40px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
}

nav{
        margin-left: 30%;
        margin-right:30%;
        display: flex;
        justify-content: space-between;
}